__pycache__/
*.pyc
.env
.vscode/
.DS_Store
*.log
# Python
__pycache__/
*.py[cod]

# Virtual Environments
.venv/
.sparkenv/

# Spark
spark-warehouse/
metastore_db/

# Delta Tables
bronze/
silver/
gold/

# Checkpoints
checkpoints/

# Streamlit generated data
dashboard/data/

# Mac
.DS_Store

# IDE
.vscode/

# Secrets
.env
quarantine/
